@mixin capsFont {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
}

@mixin boldFont {
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat";
}

@mixin lightFont {
  font-size: 25px;
  font-weight: 400;
  font-family: "Montserrat";
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}