@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(81, 172, 145);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container__title {
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat";
  color: #fff;
}
.wrapper .container__paragraph {
  font-size: 25px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #fff;
}
.wrapper .container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding: 15px 25px;
  color: #fff;
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.wrapper .container .form-group svg {
  margin-top: 5px;
}
.wrapper .container .form-group input, .wrapper .container .form-group textarea {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
  resize: none;
}
.wrapper .container .form-group input:focus, .wrapper .container .form-group textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper .container .form-group input::-webkit-input-placeholder, .wrapper .container .form-group textarea::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}
.wrapper .container .form-group input::-moz-placeholder, .wrapper .container .form-group textarea::-moz-placeholder {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}
.wrapper .container .form-group input:-ms-input-placeholder, .wrapper .container .form-group textarea:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}
.wrapper .container .form-group input::-ms-input-placeholder, .wrapper .container .form-group textarea::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}
.wrapper .container .form-group input::placeholder, .wrapper .container .form-group textarea::placeholder {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}
.wrapper .container .form-group textarea {
  min-height: 150px;
}
.wrapper .container .btn {
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat";
}
.wrapper .container .btn:hover {
  background-color: #fff;
  color: rgb(81, 172, 145);
}
.wrapper .container .alert {
  font-size: 25px;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 20px;
}